[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vividchalk"]
	path = .vim/bundle/vividchalk
	url = http://github.com/tpope/vim-vividchalk
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/solarized"]
	path = .vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/unimpaired"]
	path = .vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule ".vim/bundle/ansiesc"]
	path = .vim/bundle/ansiesc
	url = https://github.com/vim-scripts/AnsiEsc.vim.git
[submodule ".vim/bundle/gnupg"]
	path = .vim/bundle/gnupg
	url = https://github.com/jamessan/vim-gnupg.git
[submodule ".vim/bundle/session"]
	path = .vim/bundle/session
	url = http://github.com/xolox/vim-session.git
[submodule ".vim/bundle/vim-misc"]
	path = .vim/bundle/vim-misc
	url = http://github.com/xolox/vim-misc.git
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = http://github.com/Lokaltog/vim-easymotion
